html, body {
  margin: 0;
}
p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaa;
}
i {
  font-size: 4rem;
  letter-spacing: 5px;
  position: absolute;
  margin: 0;
  text-align: center;
  top:10px;
  right: 700px;
  color: blue;
  text-shadow: 0 0 4px white;
}
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}

h2{
  font-size: 5rem;
  letter-spacing: 5px;
  position: absolute;
  margin: 0;
  text-align: center;
  top:300px;
  right: 600px;
  color: grey;
  visibility: hidden;
  text-shadow: 0 0 4px white;
}

.section{
  position: absolute;
  top:430px;
  font-size: 3rem;
  left: 680px;
  background-color: blue;
  color: black;
  border-color: grey;
  border-radius: 5px;
  box-shadow: 2px 2px 10px blue;
  visibility: hidden;
}
